body {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 13px;
    line-height: 17px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    background-color: white;
}

.grid-imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    background-color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li a {
    display: block;
}

p {
    margin: 0 0 17px 0;
}

a {
    color: black;
    text-decoration: underline;
  }
  
  a:hover {
    text-decoration: none;
  }

img {
    width: 100%;
    height: auto;
}

video {
    width: 100%;
    height: auto;
}

.r {
    position: relative;
    font-size: 9px;
    top: -3px;
}

.experience li a {
    display: contents;
}

.paper-enter-active, .paper-leave-active
.projects-list {
    transform: translateY(0px);
    transition: cubic-bezier(0.65,0.05,0.36,1);
    transition-duration: 1s;
    transition-delay: 0.4s;
}
  
.paper-enter, .paper-leave-active
.projects-list {
  transform: translateY(100vh);
  transition-duration: 1s;
}

@media screen and (max-width: 990px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 745px) {
    .grid-imgs {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}